@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  background: linear-gradient(135deg,#f59322, #ffd10c);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
}